{{ 'component-credenza-collection-header.css' | asset_url | stylesheet_tag }}

<div class="page-width credenza-collection-header-container">
  <span class="heading">
    Click a collection or <a class="view-all-products-link" href="/collections/all">browse all products</a>
  </span>
</div>