{{ 'home-banner.css' | asset_url | stylesheet_tag }}

<div class="page-width home-banner__container">
  <div class="home-banner__hero-text-background">
    <div class="home-banner__hero-text-container">
      <h1 class="home-banner__hero-text heading-decoration--left">Credenzas, decor & more!</h1>
      <h2 class="home-banner__hero-text">
        Every purchase plants a tree
      </h2>
      <h2 class="home-banner__hero-text">
        through
        <img
          class="one-tree-planted-logo"
          height="100"
          width="100"
          loading="lazy"
          src="{{ 'one-tree-planted-logo-horizontal.svg' | asset_url }}"
        />
      </h2>
    </div>
  </div>
</div>

{% style %}
  .home-banner__container {
    background-image: url({{ 'home-banner-hero.jpg' | asset_url }});
  }
{% endstyle %}