{{ 'component-mission-extras.css' | asset_url | stylesheet_tag }}

<div class="extras__container">
  <span class="extras__heading" role="heading">
    Compliment Your Credenza.
  </span>
  <span class="extras__heading" role="heading">
    Compliment Your Space.
  </span>
  <p class="extras__text">
    It feels good to fill your rooms with furniture and decor you enjoy looking at and showing off.
  </p>
  <p class="extras__text">
    That's why we offer decorative pieces and accessories so you can add your own individual style and expressions to your furniture pieces.
  </p>
</div>