{{ 'component-mission-hero.css' | asset_url | stylesheet_tag }}

<div class="page-width hero-container">
  <span class="hero-heading heading-decoration--left" role="heading">
    Credenzas with a Mission
  </span>
</div>