<div class="page-width whatza__hero__container hero-2">
  <div class="whatza__hero__text-container hero-2">
    <span class="whatza__hero__heading hero-2 heading-decoration--right" role="heading">A Credenza for Every Space</span>
  </div>
</div>