{{ 'page-whatza-credenza.css' | asset_url | stylesheet_tag }}
{{ 'component-whatza-image-tiles.css' | asset_url | stylesheet_tag }}

<div class="page-width whatza__image-tiles__container">
  <div class="whatza__image-tiles__tile tile-1 taper-right">
  </div>
  <div class="whatza__image-tiles__tile tile-2 taper-left pattern-background">
    <div class="whatza__image-tiles__tile-text-background taper-left">
      <span class="whatza__image-tiles__tile-text">Store your media and video game consoles in a credenza. Set your TV on top or mount above it.</span>
    </div>
  </div>
  <div class="whatza__image-tiles__tile tile-3 taper-left pattern-background">
    <div class="whatza__image-tiles__tile-text-background taper-left">
      <span class="whatza__image-tiles__tile-text">Easily expand your workspace or use your credenza as a printing station.</span>
    </div>
  </div>
  <div class="whatza__image-tiles__tile tile-4 taper-right">
  </div>
  <div class="whatza__image-tiles__tile tile-5 taper-right">
  </div>
  <div class="whatza__image-tiles__tile tile-6 taper-left pattern-background">
    <div class="whatza__image-tiles__tile-text-background taper-left">
      <span class="whatza__image-tiles__tile-text">Stash your favorite wines, coffees, and teas, and snacks along with any serving dishes.</span>
    </div>
  </div>
  <div class="whatza__image-tiles__tile tile-7 taper-left pattern-background">
    <div class="whatza__image-tiles__tile-text-background taper-left">
      <span class="whatza__image-tiles__tile-text">Credenzas with interesting designs will add some visual delight to your space.</span>
    </div>
  </div>
  <div class="whatza__image-tiles__tile tile-8 taper-right">

  </div>
</div>