<link rel="stylesheet" href="{{ 'about.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'about.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width whatza__hero__container">
  <div class="whatza__hero__text-container">
    <span class="whatza__hero__heading" role="heading">What-za Credenza?</span>
    <span class="whatza__hero__subheading">A credenza is a long, cabinet-style piece of furniture that&apos;s low to the floor and usually placed against a wall. It&apos;s typically used for decoration, storage, and organization.</span>
  </div>
</div>