<link rel="stylesheet" href="{{ 'about.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'about.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width whatza__hero-2__container">
  <div class="whatza__hero-2__text-container">
    <span class="whatza__hero-2__heading" role="heading">A Credenza for Every Space</span>
  </div>
</div>