{{ 'page-whatza-credenza.css' | asset_url | stylesheet_tag }}
{{ 'component-whatza-image-tiles.css' | asset_url | stylesheet_tag }}

<div class="page-width whatza__image-tiles__container">
  <div class="whatza__image-tiles__tile tile-1 taper-right">
  </div>
  <div class="whatza__image-tiles__tile tile-2 taper-left pattern-background">
    <div class="whatza__image-tiles__tile-text-background taper-left">
      <span class="whatza__image-tiles__tile-text">Store your media and video game consoles in a credenza. Set your TV on top or mount above it.</span>
    </div>
  </div>
  <div class="whatza__image-tiles__tile tile-3 taper-left pattern-background">
    <div class="whatza__image-tiles__tile-text-background taper-left">
      <span class="whatza__image-tiles__tile-text">Need some more work space? Or a place to put a printer and store supplies? Add an credenza! </span>
    </div>
  </div>
  <div class="whatza__image-tiles__tile tile-4 taper-right">
  </div>
  <div class="whatza__image-tiles__tile tile-5 taper-right">
  </div>
  <div class="whatza__image-tiles__tile tile-6 taper-left pattern-background">
    <div class="whatza__image-tiles__tile-text-background taper-left">
      <span class="whatza__image-tiles__tile-text">Stash your favorite wines, coffees, & teas, along with any beverage serving dishes, in a credenza.</span>
    </div>
  </div>
</div>