{{ 'section-bowtie.css' | asset_url | stylesheet_tag }}


<div class="page-width bowtie__container">
  <div class="bowtie__text-box-container">
      <div class="bowtie__text-box">
          <p>Credenzas are similar in nature to sideboards and buffets. They can include cabinets, drawers, shelves, and special cutouts and designs. But technically, a credenza is its own thing.</p>
      </div>
      <div class="bowtie__text-box">
          <p>The traditional credenza has short or no legs. It also tends to be a bit smaller and fancier than other sideboards.</p>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Bow Tie",
  "class": "section bowtie",
  "tag": "section",
  "settings": [

  ],
  "presets": [
    {
      "name": "Bow Tie",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}