{{ 'page-whatza-credenza.css' | asset_url | stylesheet_tag }}
{{ 'section-bowtie.css' | asset_url | stylesheet_tag }}


<div class="page-width bowtie__container">
  <div class="bowtie__text-box-container">
      <div class="bowtie__text-box">
          <p>Credenzas are similar to sideboards and buffets. The terms are often used interchangably, as it can be difficult to distinguish the difference. They can all include cabinets, drawers, and shelves. Many feature special cutouts and designs.</p>
          <p>But technically, a credenza is its own thing.&nbsp;&#x1F984;</p>
      </div>
      <div class="bowtie__text-box">
          <p>Credenzas traditionally served as dining room cupboards. They have short or no legs, and tend to be a bit smaller and fancier than other sideboards.</p>
          <p>Although they originated in the dining room, credenzas now can be found in any space with a wall.</p>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Bow Tie",
  "class": "section bowtie",
  "tag": "section",
  "settings": [

  ],
  "presets": [
    {
      "name": "Bow Tie",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}