<div class="page-width about-credenza__container">
  {% comment %} <div class="page-width about-credenza__text-box-container">
      <div class="about-credenza__text-box">
          <p>Credenzas are similar in nature to sideboards and buffets. They can include cabinets, drawers, shelves, and special cutouts and designs. But technically, a credenza is its own thing.</p>
      </div>
      <div class="about-credenza__text-box">
          <p>The traditional credenza has short or no legs. It also tends to be a bit smaller and fancier than other sideboards.</p>
      </div>
  </div> {% endcomment %}
</div>

{% schema %}
  {
    "name": "Whatza Bowtie",
    "class": "whatza__section__bowtie",
    "tag": "section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}