.whatza__hero__container {
  background-repeat: no-repeat;
  display: flex;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 4;
}

.whatza__hero__container.hero-1 {
  background-image: url(https://cdn.shopify.com/s/files/1/0620/0786/9604/files/whatza__hero-1.jpg?v=1664210563);
  background-position: 100% 85%;
  background-size: cover;
  height: 270px;
}
@media screen and (min-width: 750px) {
  .whatza__hero__container.hero-1  {
      height: 580px;
  }
}

.whatza__hero__container.hero-2 {
  background-image: url(https://cdn.shopify.com/s/files/1/0620/0786/9604/files/whatza__hero-2.jpg?v=1664210456);
  background-position: 15% 0;
  background-size: 110%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--taper-depth)));
  height: 360px;
}
@media screen and (min-width: 750px) {
  .whatza__hero__container.hero-2  {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--taper-depth)), 50% 100%, 0 calc(100% - var(--taper-depth)));
      background-position: 15% 0%;
      height: 500px;
  }
}
@media screen and (min-width: 990px) {
  .whatza__hero__container.hero-2  {
    background-position: 15% 10%;
  }
}

.whatza__hero__text-container {
  color: var(--credenza-blue-1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.whatza__hero__text-container.hero-1 {
  align-self: center;
  max-width: 63%;
}
@media screen and (min-width: 750px) {
  .whatza__hero__text-container.hero-1 {
    margin-top: -10%;
  }
}

.whatza__hero__text-container.hero-2 {
  position: absolute;
  left: calc(50% - 12rem);
  top: 12vw;
}
@media screen and (min-width: 750px) {
  .whatza__hero__text-container.hero-2 {
    top: 25%;
  }
}

.whatza__hero__heading {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 2.8rem;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
}
@media screen and (min-width: 750px) {
  .whatza__hero__heading {
      font-size: 5rem;
  }
}

.whatza__hero__subheading {
  font-family: 'Overpass', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 1rem;
  max-width: 80%;
}
@media screen and (min-width: 750px) {
  .whatza__hero__subheading {
      font-size: 2rem;
      max-width: 70%;
  }
}