.collection-list.grid {
  row-gap: 14rem;
}

.credenza-collection__card {
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 440px;
  position: relative;
  transition: all .25s ease-in-out;
}

.credenza-collection__card:hover .credenza-collection__img {
  transition: all .25s ease-in-out;
}

.credenza-collection__img-background {
  width: 100%;
}

.credenza-collection__img {
  height: auto;
  width: 100%;
}

.credenza-collection__img.vibes {
  transform: scale(.95);
}

.credenza-collection__img.retro {
  transform: scale(.85) translateY(1rem);
}

.credenza-collection__img.industrial {
  transform: scale(.85) translateY(1rem);
}

.credenza-collection__img.classic-wood {
  transform: scale(.9) translateY(.5rem);
}

.credenza-collection__img.modern,
.credenza-collection__img.office {
  transform: scale(.7) translateY(3.5rem);
}

.credenza-collection__img.credenzas-on-wheels,
.credenza-collection__img.smalls,
.credenza-collection__img.accessories {
  transform: scale(.5) translateY(-2.5rem);
}

.credenza-collection__card__title {
  top: -1.6rem;
  color: var(--credenza-orange-light-1);
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 1;
  margin: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(50%);
}
@media screen and (min-width: 750px) {
  .credenza-collection__card__title {
    font-size: 5.2rem;
  }
}