.credenza-collection-header-container {
  text-align: center;
}

.heading {
  color: var(--credenza-gray-light-1);
  font-family: 'Spartan', sans-serif;
  font-size: 2rem;
}
@media screen and (min-width: 750px) {
  .heading {
    font-size: 2.2rem;
  }
}

.view-all-products-link {
  color: rgb(var(--credenza-blue-light-1));
}